.git
.github

.venv
.venv_new
venv
env

__pycache__
*.py[cod]
.pytest_cache

.env
.env.*

*.log

tests
docs

data
*.csv
*.xlsx

notebooks

.vscode
.idea

Dockerfile*
docker-compose*.yml
docker-compose*.yaml

README.md